body{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;

}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a,input,textarea,span{
font-family: "Rubik", sans-serif;

}
/* \navbar */
.navbar-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: relative;
    z-index: 11;
}

.logo img{
    width: 90px;
}

.cart a img{
    width: 40px;
}

.navlink a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

/*  */


/* hero section */
.hero-section{
    background: url(./images/h-hero.png) no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 190px;
    padding-bottom: 700px;
    padding-left: 160px;
    padding-right: 160px;
    margin-top: -120px;
    text-align: center;
    color: white;
    position: relative;
}

.hero-section h1{
    font-size: 70px;
    text-transform: capitalize;
    line-height: 105px;
}
.hero-section p{
    font-size: 22px;
    font-weight: 100;
    line-height: 35px;
    margin-top: 20px;
    color: #ffffff94;
}
/*  */


/* search bar css */
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
    border: 1px solid #ffffff94;
    width: 400px;
    margin: 0 auto;
    background: #ffffff3a;
    border-radius: 30px;
    margin-top: 30px;
}

.search-bar a img{
    width: 45px;
    margin-top: 3px;
} 

.search-bar form input{
    background: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.search-bar form input::placeholder{
    color: white;
    font-weight: 200;
    font-size: 16px;
}

.icon{
    position: absolute;
    left: 16.1%;
    margin-top: 140px;
}
.icon img{
    width: 100px;
}
/*  */




/* why choose us */

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 25px;
grid-row-gap: 0px;
padding: 150px;
}

.card-title h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: 30px;
}

.card h4{
    font-size: 25px;
    font-weight: 500;
}

.card p{
    font-weight: 200;
    line-height: 30px;
    margin-top: 20px;
    color: #252525;
}

.card a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E58411;
    font-size: 16px;
    margin-top: 20px;
}

.card a img{
    width: 50px;
    margin-top: 6px;
}


/* slider product */

.carousel-container {
      overflow: hidden;
      background: #f7f7f7;
      padding: 150px;
    }

    .carousel-container h2{
   font-size: 45px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
    }
   
    .product-category {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        margin: 0 auto;
        padding: 8px 10px;
        margin-top: 50px;
        border-radius: 30px;
        background: #e0e0e09e;
        padding-right: 14px;
    }
      .product-category h6{
        font-size: 18px;
        font-weight: 200;
      }

      .bg-white{
        background: white;
        padding: 10px 15px;
        border-radius: 30px;
      }

    .carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
      gap: 10px;
      margin-top: 70px;
    }
    .carousel-item {
      min-width: 25%;
    }

    .product-img{
        width: 100%;
        height: 280px;
        object-fit: contain;
    }

    .product-description {
        background: white;
        padding: 20px;
       border-radius: 0px 0px 15px 15px;

    }
       /* https://cssgenerator.org/border-radius-css-generator.html */


    .product-description p{
        color: #575757;
    }

    .product-description h4{
        font-size: 20px;
        font-weight: 500;
        padding: 8px 0;
    }
 
   .product-description img{
    width: 100px;
    margin-top: 2px;
   }

   .pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
   }


   .pricing img{
    width: 40px;
   }

   .pricing h4{
    font-size: 22px;
   }

   /* about section */
   .about-section {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 90px;
grid-row-gap: 0px;
    padding: 180px 0;
    padding-top: 280px;
}

/* about img */

.about-img img{
    width: 100%;

}

.about-section-content h6{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #E58411;
    margin-bottom: 20px;
}

.about-section-content {
    padding-top: 120px;
}




.about-section-content h2{
       font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    text-transform: capitalize;
    line-height: 65px;
    margin-bottom: 25px;    
}

.about-section-content p{
        font-weight: 200;
    line-height: 30px;
    margin-top: 20px;
    color: #252525;
}

.about-section-content  a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E58411;
    font-size: 16px;
    margin-top: 30px;
}

.about-section-content  a img{
    width: 50px;
    margin-top: 6px;
}



/* material section */

.material-section-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 90px;
grid-row-gap: 0px;
padding-bottom: 230px;
}

.mateial-content{
    padding-left: 130px;
}

.material-images img{
    width: 100%;
}


.review-caption {
    text-align: center;
}


.review-caption h6{
   font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #E58411;
    margin-bottom: 20px;
}

.review-caption h2{
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
    text-transform: capitalize;
    line-height: 65px;
    margin-bottom: 25px;  
}


/* review grid */
.review-grid{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 14px;
grid-row-gap: 0px;
padding: 0 120px;
margin-top: 60px;
margin-bottom: 220px;
}


.review-one{
    background: url(./images/1111.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.review-two{
    background: url(./images/2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}


.review-three{
    background: url(./images/3333.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.review-card{
    background: white;
    padding: 20px;
    margin: 20px;
    margin-top: 300px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.profile-img{
  background-color: #ffffff;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  top: -16%;
  left: 40%;
  

}

.review-card h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 36px;
}

.review-card h6{
    font-weight: 200;
    line-height: 30px;
    color: #949494;
    font-size: 16px;
}

.review-card p{
           font-weight: 200;
    line-height: 30px;
    margin-top: 13px;
    color: #252525;
}

.staricon{
width: 110px;
margin-top: 13px;
}

/* footer */

.footer{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 21px;
grid-row-gap: 0px;
padding: 120px;
background: #F7F7F7;
}

.about-site img{
    width: 90px;
}

.about-site p{
     font-weight: 200;
    line-height: 30px;
    margin-top: 20px;
    color: #252525;
}

.useful-link{
    padding-left: 60px;
}

.useful-link h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
} 

.useful-link a{
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    color: #252525;
}

.icon_ i{
    font-size: 20px;
    margin-right: 10px;
    color: #E58411;
}

.social-media a{
    margin-right: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #E58411;
}

@media only screen and (max-width: 990px) {

.navbar-main{
    flex-direction: column;
        padding: 15px 20px;
}
.hero-section{

    margin-top: -180px;
     padding-left: 20px;
    padding-right: 20px;
    padding-top: 290px !important;
    padding-bottom: 290px !important;
  
}

.navlink{
    margin: 20px 0;
}
.navlink a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}

.hero-section h1{
    font-size: 40px !important;
    line-height: 50px;
}

.search-bar{
    width: 280px;
   
}

.parent {
grid-template-columns: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 20px;
padding: 100px 20px;
text-align: center;
}

.parent a{
    justify-content: center;
}

.carousel-container {

      padding: 100px 20px;
    }

     .carousel-item {
      min-width: 60%;
    }
   /* about section */
   .about-section {
grid-template-columns: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    padding: 50px 20px;
    text-align: center;
}

.about-section img{
  display:none;
}
.about-section-content h2{
       font-size: 40px;
    
}


.about-section-content  a{
justify-content: center;
 
}

.material-section-container {
grid-template-columns: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: center;

}

.material-images img{
    display: none;
}

.mateial-content{
    padding-left: 20px;
}
.review-grid{
grid-template-columns: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 20px;
padding: 0 20px;
margin-top: 60px;
margin-bottom: 100px;
}

.footer{
grid-template-columns: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 20px;
padding: 100px 20px;
}
.useful-link{
    padding-left: 0px;
    text-align: center;
}
.about-site{
    text-align: center;
}
}
